

.h2, p {
  margin-top: 15px;
  text-align: center;
  font-style: normal;
  color: darkgray;
}
p {
  font-size: 14px;
}
.siteView {
  width: 90%;
  margin: auto;
}
.lead {
  font-size: 15px;
}
h3 {
  color: red;
  padding-right: 10px;
  display: inline-block;
}
.icon {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  display: inline-block;
  padding: 0;
}
sub {
  font-size: 10px;
  font-weight: bold;
  color: darkgray;
}
.about {
  color: green;
  font-weight: bold;
  font-family: sans-serif;
}

.rounded {
  width: 100%;
}
.c {
  position: relative;
  display: inline-block;
  background-color: limegreen;
  border-radius: 5px;
  font-size: 10px;
  color: white;
  text-transform: capitalize;
  padding: 2px;
}
